/* ==========================================================================
   Variables
   ========================================================================== */
$font-stack: 'Avenir W01', Helvetica, Arial, sans-serif;
$border-radius: 4px;
$content-width: 40em;

// Color
//$black: #2a2b2c;
//$gray-80: #5c5e5f;
//$gray-60: #afb2b4;
//$gray-40: #d8dbdd;
//$gray-20: #edf0f0;
//$white: #fff;

$black: #1f2021;
$gray-80: #494a4b;
$gray-60: #929293;
$gray-40: #bfc0c0;
$gray-20: #dbdbdb;
$gray-5: #f6f6f6;
$white: #fff;


/* ==========================================================================
   Base
   ========================================================================== */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0 !important;
}

html,
button,
input,
select,
textarea {
	background-color: $white;
	color: $gray-80;
	font-family: $font-stack;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
}

button,
input,
select,
textarea {
	font-size: 1em;
}

body {
	margin: 0 auto;
	max-width: 120em;
	position: relative;
}

a {
	color: $black;
	text-decoration: none;
}

::-moz-selection {
	background: $gray-40;
	color: $white;
	text-shadow: none !important;
}

::selection {
	background: $gray-40;
	color: $white;
	text-shadow: none !important;
}

input,
button,
select,
textarea {
	background-color: $white;
	border-radius: $border-radius;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input.text,
textarea {
	-webkit-appearance: none;
	border: 1px solid $gray-40;
	padding: 0.75em 1em;
}

select {
	border: 1px solid $gray-40;
	padding: 0.75em 1em;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $gray-40;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: $gray-40;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: $gray-40;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: $gray-40;
}

label {
	color: $black;
	font-weight: 800;
}

.btn,
input[type="submit"],
button {
	-webkit-appearance: none;
	background-color: $gray-80;
	border: none;
	border-radius: $border-radius;
	color: $white;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0.75em 1.5em;
	text-align: center;
	text-decoration: none;
}

.btn.disabled,
input[type="submit"].disabled,
button.disabled {
	background-color: $gray-20;
	color: $gray-60;
	cursor: default;
}

textarea {
	resize: vertical;
}

b,
strong {
	font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $black;
	font-weight: 800;
	margin: 0.5em 0;
}

h1 {
	font-size: 3.998em;
	line-height: 1.2;
}

h2 {
	font-size: 2.827em;
	line-height: 1.2;
}

h3 {
	font-size: 1.999em;
	line-height: 1.3;
}

h4 {
	font-size: 1.414em;
	line-height: 1.4;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin: 32px 0 0.5em 0;
}

img, object, embed {
	height: auto !important;
	max-width: 100%;
}

.video-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

	& iframe,
	& object,
	& embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */

.bg-black {
	background-color: $black;
}

.bg-gray-80 {
	background-color: $gray-80;
}

.bg-gray-60 {
	background-color: $gray-60;
}

.bg-gray-40 {
	background-color: $gray-40;
}

.bg-gray-20 {
	background-color: $gray-20;
}

.bg-gray-5 {
	background-color: $gray-5;
}

.bg-white {
	background-color: $white;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	float: left;
}

.col-lg-12 {
	width: auto;
}

.col-lg-11 {
	width: 91.66666667%;
}

.col-lg-10 {
	width: 83.33333333%;
}

.col-lg-9 {
	width: 75%;
}

.col-lg-8 {
	width: 66.66666667%;
}

.col-lg-7 {
	width: 58.33333333%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-5 {
	width: 41.66666667%;
}

.col-lg-4 {
	width: 33.33333333%;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-2 {
	width: 16.66666667%;
}

.col-lg-1 {
	width: 8.33333333%;
}

hr {
	background: $gray-40;
	border: none;
	height: 1px;
	margin: 0;
	overflow: hidden;
}

.icon {
	fill: $black;
	width: 1em;
	height: 1em;
}

.icon-black {
	fill: $black;
}

.icon-gray-80 {
	fill: $gray-80;
}

.icon-gray-60 {
	fill: $gray-60;
}

.icon-gray-40 {
	fill: $gray-40;
}

.icon-gray-20 {
	fill: $gray-20;
}

.icon-white {
	fill: $white;
}

.navigation .nav-icon,
.navigation .nav-icon-close,
.navigation .subnav-icon {
	display: none;
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation .main-nav {
	position: relative;
	z-index: 3;
}

.navigation .main-nav > li {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.navigation .main-nav > li > a {
	display: block;
}

.navigation .menu {
	background-color: $gray-5;
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 16em;
	z-index: 1;
}

.navigation .menu.bg-gray-20 {
	background-color: $gray-20;
}

.navigation .menu.bg-gray-40 {
	background-color: $gray-40;
}

.navigation .menu.bg-gray-60 {
	background-color: $gray-60;
}

.navigation .menu.bg-gray-80 {
	background-color: $gray-80;
}

.navigation .menu.bg-black {
	background-color: $black;
}

.navigation .menu.bg-white {
	background-color: $white;
}

.navigation .menu li {
	position: relative;
}

.navigation .main-nav > li:hover > .menu {
	height: auto;
	opacity: 1;
	overflow: visible;
	padding: 1.5em 2em;
}

.navigation .menu .menu {
	left: 16em;
	top: -1em;
}

.navigation .menu li:hover .menu {
	height: auto;
	opacity: 1;
	overflow: visible;
	padding: 1em 0;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.no-border {
	border: none;
}

.pad-1 {
	padding: 0.75em 1.25em;
}

.pad-2 {
	padding: 1.75em 2.25em;
}

.pad-3 {
	padding: 2.75em 3.25em;
}

.pad-4 {
	padding: 3.75em 4.25em;
}

.pad-bottom-1 {
	padding-bottom: 0.75em;
}

.pad-bottom-2 {
	padding-bottom: 1.75em;
}

.pad-bottom-3 {
	padding-bottom: 2.75em;
}

.pad-bottom-4 {
	padding-bottom: 3.75em;
}

.pad-bottom-5 {
	padding-bottom: 4.75em;
}

.pad-top-1 {
	padding-top: 0.75em;
}

.pad-top-2 {
	padding-top: 1.75em;
}

.pad-top-3 {
	padding-top: 2.75em;
}

.pad-top-4 {
	padding-top: 3.75em;
}

.pad-top-5 {
	padding-top: 4.75em;
}

.pad-left-1 {
	padding-left: 1.25em;
}

.pad-left-2 {
	padding-left: 2.25em;
}

.pad-left-3 {
	padding-left: 3.25em;
}

.pad-left-4 {
	padding-left: 4.25em;
}

.pad-right-1 {
	padding-right: 1.25em;
}

.pad-right-2 {
	padding-right: 2.25em;
}

.pad-right-3 {
	padding-right: 3.25em;
}

.pad-right-4 {
	padding-right: 4.25em;
}

.text-xl {
	font-size: 1.999em;
	line-height: 1.3;
}

.text-lg {
	font-size: 1.414em;
	line-height: 1.4;
}

.text-md {
	font-size: 1.125em;
}

.text-bs {
	font-size: 1em;
}

.text-sm {
	font-size: 0.875em;
}

.text-black,
a.text-black {
	color: $black;
}

.text-gray-80,
a.text-gray-80 {
	color: $gray-80;
}

.text-gray-60,
a.text-gray-60 {
	color: $gray-60;
}

.text-gray-40,
a.text-gray-40 {
	color: $gray-40;
}

.text-gray-20,
a.text-gray-20 {
	color: $gray-20;
}

.text-gray-5,
a.text-gray-5 {
	color: $gray-5;
}

.text-white,
a.text-white {
	color: $white;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.underline {
	text-decoration: underline;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 950px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left;
	}

	.col-md-12 {
		width: 100%;
	}

	.col-md-11 {
		width: 91.66666667%;
	}

	.col-md-10 {
		width: 83.33333333%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-8 {
		width: 66.66666667%;
	}

	.col-md-7 {
		width: 58.33333333%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-5 {
		width: 41.66666667%;
	}

	.col-md-4 {
		width: 33.33333333%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-2 {
		width: 16.66666667%;
	}

	.col-md-1 {
		width: 8.33333333%;
	}

	.navigation .main-nav {
		background-color: $gray-60;
		height: 0;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 4em;
		width: 100%;
		z-index: 999;
	}

	.navigation .main-nav.active {
		height: auto;
		opacity: 1;
		overflow: visible;
	}

	.navigation .nav-icon {
		border-radius: $border-radius;
		background-color: $gray-60;
		color: $white;
		cursor: pointer;
		display: block;
		padding: 0.75em 1.25em;
		position: absolute;
		right: 0;
		top: 0;
		-moz-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		white-space: nowrap;
		z-index: 3;
	}

	.navigation .nav-icon .icon {
		background-color: $white;
		display: inline-block;
		height: 2px;
		margin: -3px 0.25em 0 0;
		position: relative;
		-moz-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		vertical-align: middle;
		width: 17px;
	}

	.navigation .nav-icon.active .icon {
		background: transparent;
	}

	.navigation .nav-icon .icon:before {
		background-color: $white;
		content: "\0020";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		-moz-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 17px;
	}

	.navigation .nav-icon.active .icon:before {
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.navigation .nav-icon .icon:after {
		background-color: $white;
		content: "\0020";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 17px;
	}

	.navigation .nav-icon.active .icon:after {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.navigation .subnav-icon {
		cursor: pointer;
		display: block;
		font-size: 1.125em;
		line-height: 1.5;
		padding: 0.75em 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 3em;
		z-index: 1;
	}

	.navigation .subnav-icon:before {
		background-color: $white;
		content: "\0020";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		top: 50%;
		-moz-transform: translate(-8px, -1px) rotate(45deg);
		-ms-transform: translate(-8px, -1px) rotate(45deg);
		-o-transform: translate(-8px, -1px) rotate(45deg);
		-webkit-transform: translate(-8px, -1px) rotate(45deg);
		transform: translate(-8px, -1px) rotate(45deg);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 10px;
	}

	.navigation .subnav-icon.active:before {
		-moz-transform: translate(-8px, -1px) rotate(-45deg);
		-ms-transform: translate(-8px, -1px) rotate(-45deg);
		-o-transform: translate(-8px, -1px) rotate(-45deg);
		-webkit-transform: translate(-8px, -1px) rotate(-45deg);
		transform: translate(-8px, -1px) rotate(-45deg);
	}

	.navigation .subnav-icon:after {
		background-color: $white;
		content: "\0020";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		top: 50%;
		-moz-transform: translate(-2px, -1px) rotate(-45deg);
		-ms-transform: translate(-2px, -1px) rotate(-45deg);
		-o-transform: translate(-2px, -1px) rotate(-45deg);
		-webkit-transform: translate(-2px, -1px) rotate(-45deg);
		transform: translate(-2px, -1px) rotate(-45deg);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 10px;
	}

	.navigation .subnav-icon.active:after {
		-moz-transform: translate(-2px, -1px) rotate(45deg);
		-ms-transform: translate(-2px, -1px) rotate(45deg);
		-o-transform: translate(-2px, -1px) rotate(45deg);
		-webkit-transform: translate(-2px, -1px) rotate(45deg);
		transform: translate(-2px, -1px) rotate(45deg);
	}

	.navigation .menu {
		background: none;
		box-shadow: none;
		display: none;
		height: auto;
		opacity: 1;
		overflow: visible;
		padding: 0 0 1em 0;
		position: static;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
		-moz-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;
		-moz-transition-delay: 0;
		-o-transition-delay: 0;
		-webkit-transition-delay: 0;
		transition-delay: 0;
		width: auto;
	}

	.navigation .main-nav > li:hover > .menu {
		padding: 0 0 1em 0;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
	}

	.navigation .main-nav > li {
		border-bottom: 1px solid $gray-40;
		display: block;
		margin: 0;
	}

	.navigation .main-nav > li:last-child {
		border-bottom: none;
	}

	.navigation .main-nav > li > a {
		color: $white;
		font-size: 1.125em;
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: 0;
		padding: 0.75em 3em 0.75em 1.5em;
	}

	.navigation .main-nav > li:hover > a {
		color: $white;
	}

	.navigation .main-nav > li:hover:after {
		content: none;
	}

	.navigation .menu a {
		color: $gray-20;
		font-size: 1em;
		margin: 0.25em 0;
		padding: 0 2.5em;
	}

}

@media only screen and (max-width: 750px) {
	h1 {
		font-size: 2.827em;
		line-height: 1.2;
	}

	h2 {
		font-size: 1.999em;
		line-height: 1.3;
	}

	h3 {
		font-size: 1.414em;
		line-height: 1.4;
	}

	h4 {
		font-size: 1em;
		line-height: 1.5;
	}

	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-11 {
		width: 91.66666667%;
	}

	.col-sm-10 {
		width: 83.33333333%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-8 {
		width: 66.66666667%;
	}

	.col-sm-7 {
		width: 58.33333333%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-5 {
		width: 41.66666667%;
	}

	.col-sm-4 {
		width: 33.33333333%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-2 {
		width: 16.66666667%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}

	.pad-1 {
		padding: 0.5em 1em;
	}

	.pad-2 {
		padding: 1.5em 2em;
	}

	.pad-3 {
		padding: 2.5em 3em;
	}

	.pad-4 {
		padding: 3.5em 4em;
	}

	.pad-bottom-1 {
		padding-bottom: 0.5em;
	}

	.pad-bottom-2 {
		padding-bottom: 1.5em;
	}

	.pad-bottom-3 {
		padding-bottom: 2.5em;
	}

	.pad-bottom-4 {
		padding-bottom: 3.5em;
	}

	.pad-bottom-5 {
		padding-bottom: 4.5em;
	}

	.pad-top-1 {
		padding-top: 0.5em;
	}

	.pad-top-2 {
		padding-top: 1.5em;
	}

	.pad-top-3 {
		padding-top: 2.5em;
	}

	.pad-top-4 {
		padding-top: 3.5em;
	}

	.pad-top-5 {
		padding-top: 4.5em;
	}

	.pad-left-1 {
		padding-left: 1em;
	}

	.pad-left-2 {
		padding-left: 2em;
	}

	.pad-left-3 {
		padding-left: 3em;
	}

	.pad-left-4 {
		padding-left: 4em;
	}

	.pad-right-1 {
		padding-right: 1em;
	}

	.pad-right-2 {
		padding-right: 2em;
	}

	.pad-right-3 {
		padding-right: 3em;
	}

	.pad-right-4 {
		padding-right: 4em;
	}

	.text-xl {
		font-size: 1.414em;
		line-height: 1.4;
	}

	.text-lg {
		font-size: 1.125em;
		line-height: 1.5;
	}

	.text-md {
		font-size: 1em;
		line-height: 1.5;
	}

}

@media only screen and (max-width: 550px) {
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12 {
		float: left;
	}

	.col-xs-12 {
		width: 100%;
	}

	.col-xs-11 {
		width: 91.66666667%;
	}

	.col-xs-10 {
		width: 83.33333333%;
	}

	.col-xs-9 {
		width: 75%;
	}

	.col-xs-8 {
		width: 66.66666667%;
	}

	.col-xs-7 {
		width: 58.33333333%;
	}

	.col-xs-6 {
		width: 50%;
	}

	.col-xs-5 {
		width: 41.66666667%;
	}

	.col-xs-4 {
		width: 33.33333333%;
	}

	.col-xs-3 {
		width: 25%;
	}

	.col-xs-2 {
		width: 16.66666667%;
	}

	.col-xs-1 {
		width: 8.33333333%;
	}

	.no-pad-xs {
		padding: 0;
	}

	.no-pad-right-xs {
		padding-right: 0;
	}

	.no-pad-left-xs {
		padding-left: 0;
	}

	.pad-1 {
		padding: 0.25em 0.75em;
	}

	.pad-2 {
		padding: 1.25em 1.75em;
	}

	.pad-3 {
		padding: 2.25em 2.75em;
	}

	.pad-4 {
		padding: 3.25em 3.75em;
	}

	.pad-bottom-1 {
		padding-bottom: 0.25em;
	}

	.pad-bottom-2 {
		padding-bottom: 1.25em;
	}

	.pad-bottom-3 {
		padding-bottom: 2.25em;
	}

	.pad-bottom-4 {
		padding-bottom: 3.25em;
	}

	.pad-bottom-5 {
		padding-bottom: 4.25em;
	}

	.pad-top-1 {
		padding-top: 0.25em;
	}

	.pad-top-2 {
		padding-top: 1.25em;
	}

	.pad-top-3 {
		padding-top: 2.25em;
	}

	.pad-top-4 {
		padding-top: 3.25em;
	}

	.pad-top-5 {
		padding-top: 4.25em;
	}

	.pad-left-1 {
		padding-left: 0.75em;
	}

	.pad-left-2 {
		padding-left: 1.75em;
	}

	.pad-left-3 {
		padding-left: 2.75em;
	}

	.pad-left-4 {
		padding-left: 3.75em;
	}

	.pad-right-1 {
		padding-right: 0.75em;
	}

	.pad-right-2 {
		padding-right: 1.75em;
	}

	.pad-right-3 {
		padding-right: 2.75em;
	}

	.pad-right-4 {
		padding-right: 3.75em;
	}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
